# Data 
data/
*.npy
*.csv

# Outputs 
outputs/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Environments
.env
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Exceptions, keep sample outputs visible on GitHub
!sample_output/
!sample_output/*.png